{
  "ids": {
    "guild": "",
    "channels": {
      "join": "",
      "logs": "",
      "chat": "",
      "photos": "",
      "presentation": ""
    }
  },
  "discord": {
    "clientId": "",
    "token": "",
    "logWebhook": ""
  },
  "mongodb": {
    "url": "",
    "db": ""
  }
}
